<% include ../helpers/helpers %>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="govuk-template__body">
    <% include ../partials/header %>

    <div class="govuk-width-container">
      <% include ../partials/beta-banner %>

      <main id="main-content" role="main">
        <div class="tabs-wrapper">
          <ul class="tabs">
            <li><a class="active" href="">Calendar</a></li>
            <li>
              <a href="/notifications">
                Notifications
                <% if (notificationCount != null && notificationCount > 0) { %>
                  <span class="loud font-xsmall" style="background-color: #df3034;padding: 0 5px;color: white;">
                    (<%= notificationCount %> new)
                  </span>
                <% } %>
              </a>
            </li>
          </ul>
        </div>

        <div class="calendar-controls center-align govuk-!-margin-bottom-8">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-0"><%=currentMonth%></h1>
          <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="/calendar/<%=previousMonth.link%>">
            <%=previousMonth.text%>
          </a>
          <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 app-link-!-border" href="/calendar/<%=nextMonth.link%>">
            <%=nextMonth.text%>
          </a>
        </div>

        <% if (data == null || data.length == 0) { %>
            <%- include('../partials/summary', {message: 'There is no shift information to show for this account.'}); %>
        <%} else { %>
          <ul class="calendar">
            <% getDays().forEach(day => { %>
              <li class="calendar-item calendar-header"><%= day %></li>
            <% }); %>
            <% data.forEach(({ today=false, fullDayType, date, dateText, dateDayText, tasks }) => { %>
            <li <% if (today) { %> id="today" <% } %> class="calendar-item <%= getTypeClass(fullDayType) %>">
                <% if (fullDayType !== 'no-day') { %>
                  <a href="/details/<%=date%>">
                    <% if (fullDayType !== 'no-day') { %>
                      <div class="hide-1024-up">
                        <span class="day govuk-!-font-weight-bold">
                          <%= dateDayText %>
                        </span>
                      </div>
                      <div class="hide-0-to-1024">
                        <span class="day govuk-!-font-weight-bold">
                          <%= dateText %>
                        </span>
                      </div>
                      <% tasks.forEach(({ displayType, eventText, finishDuration }) => { %>
                        <span class="line <%= displayType %>"><%= eventText %></span>
                        <% if (finishDuration) { %>
                          <span class="line-text"><%= finishDuration %></span>
                        <% } %>
                      <% }) %>
                    <% } %>
                  </a>
                <% } %>
              </li>
            <% }); %>
          </ul>
        <% }  %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="govuk-clearfix govuk-!-margin-bottom-8"> </div>
      </main>
    </div>
    <% include ../partials/footer %>
  </body>
</html>
