<%- include ('../helpers/helpers') -%>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <%- include ('../partials/head') -%>
  </head>
  <body class="govuk-template__body">
    <%- include ('../partials/header') -%>

    <div class="govuk-width-container">

      <main id="main-content" role="main">
        <div class="tabs-wrapper">
          <ul class="tabs">
            <li><a class="active" href="">Calendar</a></li>
            <li>
              <a href="/notifications">
                Notifications
                <% if (notificationCount != null && notificationCount > 0) { %>
                  <span class="loud font-xsmall" style="background-color: #df3034;padding: 0 5px;color: white;">
                    (<%= notificationCount %> new)
                  </span>
                <% } %>
              </a>
            </li>
          </ul>
        </div>

        <div class="calendar-controls center-align govuk-!-margin-bottom-8">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-0" tabindex="0"><%=currentMonth%></h1>
          <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="/calendar/<%=previousMonth.link%>" data-qa="previous">
            <%=previousMonth.text%>
          </a>
          <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 app-link-!-border" href="/calendar/<%=nextMonth.link%>">
            <%=nextMonth.text%>
          </a>
        </div>

        <% if (data == null || data.length === 0) { %>
            <%- include('../partials/summary', {message: 'There is no shift information to show for this account.'}); %>
        <%} else { %>
          <ul class="calendar">
            <% getDays().forEach(day => { %>
              <li class="calendar-item calendar-header"><%= day %></li>
            <% }); %>
            <% data.forEach(({ today=false, fullDayType, fullDayTypeDescription, date, dateText, dateDayText, details }) => { %>
            <li <% if (today) { %> id="today" <% } %> class="calendar-item <%= getTypeClass(fullDayType) %> <% if (details === undefined)  { %>no-day hide-0-to-1024 <%}%> ">
                <% if (fullDayType !== 'no-day')  { %>
                  <a href="/details/<%=date%>" tabindex="-1">
                      <div class="hide-1024-up" tabindex="0">
                        <span class="day govuk-!-font-weight-bold">
                          <%= dateDayText %>
                        </span>
                      </div>
                      <div class="hide-0-to-1024" tabindex="0">
                        <span class="day govuk-!-font-weight-bold">
                          <%= dateText %>
                        </span>
                      </div>
                      <div tabindex="0">
                        <% if (fullDayType !== 'NONE' && fullDayType !== 'SHIFT') { %>
                          <span class="line"><%= fullDayTypeDescription %></span>
                        <% } %>
                        <% details !== null && details.forEach(({ displayType, activity, finishDuration }) => { %>
                          <span class="line <%= displayType %>"><%= activity %></span>
                          <% if (finishDuration) { %>
                              <span class="line"><%= finishDuration %></span>
                          <% } %>
                        <% }) %>
                      </div>
                  </a>
                <% } %>
              </li>
            <% }); %>
          </ul>
        <% }  %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="govuk-clearfix govuk-!-margin-bottom-8"> </div>
      </main>
    </div>
    <%- include ('../partials/footer') -%>
  </body>
</html>
