<%- include ('../helpers/helpers') -%>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <%- include ('../partials/head') -%>
  </head>
  <body class="govuk-template__body">
    <%- include ('../partials/header') -%>

    <div class="govuk-width-container">

      <main id="main-content" role="main">

        <% if (showBanner.notifications || showBanner.mfa) { %>
          <div class="govuk-notification-banner govuk-!-margin-top-4 govuk-!-width-full" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <% if (showBanner.notifications) { %>
                You will soon only be able to receive notifications by email. We will remove the option to receive texts.
                <br />
                You must <a class="govuk-notification-banner__link" href="/notifications/settings">change your notification settings</a> to email now.
                <% if (showBanner.mfa === mfaBannerType.FIRST_TIME_USER) { %>
                  <br />
                  <br />
                <% } %>
              <% } %>

              <% switch (showBanner.mfa) {
              case mfaBannerType.EXISTING_USER: %>
                <%# Existing user (already uses CMD) %>
                You can manage your two-factor authentication (2FA) settings on the <a
                        class="govuk-notification-banner__link" href="<%= authUrl %>/account-details">Manage your details</a> page.
                You can also access this via the top bar.
                <p>You no longer need to contact the support team to change these settings.</p>
                <p class="govuk-!-margin-top-2"><a class="govuk-link govuk-link--no-visited-state notification_dismiss_link" id="EXISTING_USER" href="#">Dismiss</a></p>
              <% break;
              case mfaBannerType.NEW_USER: %>
                <%# (existing DPS user with 2FA, new to CMD) %>
                You can manage your two-factor authentication (2FA) settings on the <a
                        class="govuk-notification-banner__link" href="<%= authUrl %>/account-details">Manage your details</a> page.
                <p>Once signed in, you can change these settings from inside or outside an establishment.</p>
                <p>You can also receive emails when your shifts change. Set this up by entering your personal email address on the <a
                          class="govuk-notification-banner__link" href="/notifications/settings">Notifications</a> page.</p>
                <p>You can change your 2FA and notifications settings by following the links in the top bar.</p>
                <p class="govuk-!-margin-top-2"><a class="govuk-link govuk-link--no-visited-state notification_dismiss_link" id="NEW_USER" href="#">Dismiss</a></p>
              <% break;
              case mfaBannerType.FIRST_TIME_USER:  %>
                <%# (existing DPS user without 2FA, new to CMD) %>
                You need to set up two-factor authentication (2FA) to help secure access to your account.
                <p>You must add a backup personal email address or phone number on the <a
                          class="govuk-notification-banner__link" href="<%= authUrl %>/account-details">Manage your details</a> page.</p>
                <p>We will use this to confirm it’s you signing in to your account. You will have to be outside the establishment to verify the email address or phone number.</p>
                <p>You can also receive emails when your shifts change. Set this up by entering your personal email address on the <a
                          class="govuk-notification-banner__link" href="/notifications/settings">Notifications</a> page.</p>
              <% break;
              } %>
            </div>
          </div>
        <% } %>

        <h1 class="govuk-heading-m govuk-!-margin-top-3">Your shift detail</h1>

        <div>
          <div class="strict-grid-column-one-third">
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="/calendar/<%=previousMonth.link%>" data-qa="previous">
              < <%=previousMonth.text%>
            </a>
          </div>
          <div class="strict-grid-column-one-third">
            <h1 class="govuk-heading-m govuk-!-margin-bottom-0 center-align" tabindex="0"><%=currentMonth%></h1>
          </div>
          <div class="strict-grid-column-one-third right-align">
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="/calendar/<%=nextMonth.link%>">
              <%=nextMonth.text%> >
            </a>
          </div>
        </div>

        <% if (data == null || data.length === 0) { %>
            <%- include('../partials/summary', {message: 'There is no shift information to show for this account.'}); %>
        <%} else { %>
          <ul class="calendar">
            <% getDays().forEach(day => { %>
              <li class="calendar-header"><%= day %></li>
            <% }); %>
            <% data.forEach(({ today=false, fullDayType, fullDayTypeDescription, date, dateText, dateDayText, details, detailDetails, isFullDay }) => { %>
            <li class="calendar-item <%= fullDayType %><% if (details === undefined) { %> no-day hide-0-to-1024<%}%>"  data-qa="<%= dateText %>">
                <%# Disable focussing on today only if banner shown AND on mobile device  %>
                <% if (today) { %>
                  <span id="today"<% if (showBanner.notifications || showBanner.mfa) { %> class="hide-mobile"<% } %> ></span>
                <% } %>
                <% if (fullDayType !== 'no-day') { %>

                      <div class="hide-1024-up" tabindex="0">
                        <span class="day">
                          <span class="line-left govuk-!-font-weight-bold"><%= dateDayText %></span>
                          <% if (isFullDay) { %>
                            <span class="line-right"><%= fullDayTypeDescription %></span>
                          <% } %>
                        </span>
                      </div>
                      <div class="hide-0-to-1024" tabindex="0">
                        <span class="day">
                          <span class="line-left govuk-!-font-weight-bold"><%= dateText %></span>
                          <% if (isFullDay) { %>
                            <span class="line-right"><%= fullDayTypeDescription %></span>
                          <% } %>
                        </span>
                      </div>

                      <div tabindex="0">
                        <% details !== null &&
                        details.forEach(({ displayType, lineLeftText, lineRightText, finishDuration, activityDescription, specialActivityColour, durationColour, showNightHr }) => { %>
                          <% if (specialActivityColour) { %>
                            <span class="line <%= specialActivityColour %>"><%= activityDescription %></span>
                          <% } %>
                          <span class="line <%= displayType %>">
                            <% if (showNightHr) { %>
                              <hr />
                            <% } %>
                            <span class="line-left"><%= lineLeftText %></span>
                            <% if (lineRightText) { %>
                              <span class="line-right <%= displayType %>"><%= lineRightText %></span>
                            <% } %>
                          </span>
                          <% if (finishDuration) { %>
                            <span class="line <%= durationColour %>"><%= finishDuration %></span>
                          <% } %>
                        <% }) %>
                      </div>
                <% } %>
              </li>
            <% }); %>
          </ul>
        <% }  %>
        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" />
        <div class="govuk-clearfix"> </div>
      </main>
    </div>
    <%- include ('../partials/footer') -%>
    <script type="text/javascript">
      const links = document.getElementsByClassName("notification_dismiss_link")
      if (links.length) links[0].addEventListener("click", function(event) {
        const $notifications = document.getElementsByClassName("govuk-notification-banner");
        const id = event.target.id;
        const csrf = document.getElementById("_csrf").getAttribute('value');

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/calendar/dismiss");
        xhr.setRequestHeader("X-CSRF-Token", csrf);
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function() {
          if (this.status === 200) {
            if (this.readyState === XMLHttpRequest.DONE && $notifications.length) {
              $notifications[0].style.display="none";
            }
          } else {
            window.location = "/";
          }
        }
        xhr.send(`{ "id": "${id}" }`);
      });
    </script>
  </body>
</html>
