<% include ../helpers/helpers %>

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <% include ../partials/header %>

  <main id="content" class="app-container" role="main">
    <a href="/" class="link-back">Back</a>

    <div id="shiftDetail" class="grid-row">
      <div class="column-full">

        <h1  class="heading-large"><%= data.day %> <%= parseDate(data.date) %><% if (data.hasOwnProperty('events')) { %>, <%= data.location %><% } %></h1>

        <% if (data.type === 'work') { %>

          <% data.events.forEach(function(event){ %>

            <% if (event.type === 'work') { %>

              <ul class="font-medium">

                <% event.detail.forEach(function(detail, index){ %>

                  <li class="<% if (index === 0) { %>detail-start<% } %>">
                    <span class="time"><%= detail.startTime %> - <%= detail.endTime %></span>
                    <span class="description"><% if (index === 0) { %>Start location: <% } %><%= detail.description %></span>
                    <span class="notes font-xsmall"><%= detail.notes %></span>
                  </li>

                <% }); %>

                <li class="detail-finish">
                  <span class="time"><%= event.endTime %></span>
                  <span class="description">End of shift</span>
                </li>

              </ul>

            <% } %>

            <% if (event.type === 'holiday') { %>

              <ul class="font-medium">

                <li class="detail-holiday">
                  <span class="time"><%= event.startTime %> - <%= event.endTime %></span>
                  <span class="description">Holiday (part)</span>
                </li>

              </ul>

            <% } %>

          <% }); %>

        <% } %>

        <% if (data.type === 'holiday' || data.type === 'rest-day') { %>

          <ul class="font-medium">

            <li class="<% if (data.type === 'holiday') { %>detail-holiday<% } %><% if (data.type === 'rest-day') { %>detail-rest-day<% } %>">
              <span class="time"><% if (data.type === 'holiday') { %>Holiday<% } %><% if (data.type === 'rest-day') { %>Rest day<% } %></span>
              <span class="description">All day</span>
            </li>

          </ul>

        <% } %>

        <a id="btnNextShiftDetail" href="/details/<%= data.nextDate %>" class="font-medium"><%= getNextDay(data.day) %> <%= parseDate(data.nextDate) %>  &rarr;</a>

      </div>
    </div>
  </main>

  <% include ../partials/footer %>

</body>
</html>
