<%- include ('../helpers/helpers') -%>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <%- include ('../partials/head') -%>
  </head>
  <body class="govuk-template__body">
    <%- include ('../partials/header') -%>

    <div class="govuk-width-container">

      <main id="main-content" role="main">

        <% if (showBanner.notifications || showBanner.mfa) { %>
          <div class="govuk-notification-banner govuk-!-margin-top-4 govuk-!-width-full" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <% if (showBanner.notifications) { %>
                You will soon only be able to receive notifications by email. We will remove the option to receive texts.
                <br />
                You must <a class="govuk-notification-banner__link" href="/notifications/settings">change your notification settings</a> to email now.
                <% if (showBanner.mfa === mfaBannerType.FIRST_TIME_USER) { %>
                  <br />
                  <br />
                <% } %>
              <% } %>

              <% switch (showBanner.mfa) {
              case mfaBannerType.EXISTING_USER: %>
                <%# Existing user (already uses CMD) %>
                You can manage your two-factor authentication settings on the <a
                        class="govuk-notification-banner__link" href="<%= authUrl %>/account-details">Manage your details</a> page.
                You can also access this via the top bar.
                You no longer need to contact the support team to change these settings.
                <br />
                <p class="govuk-!-margin-top-2"><a class="govuk-link govuk-link--no-visited-state notification_dismiss_link" id="EXISTING_USER" href="#">Dismiss</a></p>

              <% break;
              case mfaBannerType.NEW_USER: %>
                <%# New user (DPS with 2FA) %>
                You can manage your two-factor authentication settings on the <a
                        class="govuk-notification-banner__link" href="<%= authUrl %>/account-details">Manage your details</a> page.
                You can also access this via the top bar.
                Once signed in, you can change these settings from inside or outside an establishment.
                <br />
                <p class="govuk-!-margin-top-2"><a class="govuk-link govuk-link--no-visited-state notification_dismiss_link" id="NEW_USER" href="#">Dismiss</a></p>
              <% break;
              case mfaBannerType.FIRST_TIME_USER:  %>
                <%# First-time user (DPS without 2FA) %>
                You need to set up two-factor authentication to help secure access to your account.
                You must add a backup personal email address or phone number on the <a
                        class="govuk-notification-banner__link" href="<%= authUrl %>/account-details">Manage your details</a> page.
                We will use this to confirm it’s you signing in to your account.
              <% break;
              } %>
            </div>
          </div>
        <% } %>

        <div class="tabs-wrapper">
          <ul class="tabs">
            <li><a class="active" href="">Calendar</a></li>
            <li>
              <a href="/notifications">
                Notifications
                <% if (notificationCount != null && notificationCount > 0) { %>
                  <span class="loud font-xsmall" style="background-color: #df3034;padding: 0 5px;color: white;">
                    (<%= notificationCount %> new)
                  </span>
                <% } %>
              </a>
            </li>
          </ul>
        </div>

        <div class="calendar-controls center-align govuk-!-margin-bottom-8">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-0" tabindex="0"><%=currentMonth%></h1>
          <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="/calendar/<%=previousMonth.link%>" data-qa="previous">
            <%=previousMonth.text%>
          </a>
          <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 app-link-!-border" href="/calendar/<%=nextMonth.link%>">
            <%=nextMonth.text%>
          </a>
        </div>

        <% if (data == null || data.length === 0) { %>
            <%- include('../partials/summary', {message: 'There is no shift information to show for this account.'}); %>
        <%} else { %>
          <ul class="calendar">
            <% getDays().forEach(day => { %>
              <li class="calendar-item calendar-header"><%= day %></li>
            <% }); %>
            <% data.forEach(({ today=false, fullDayType, fullDayTypeDescription, date, dateText, dateDayText, details }) => { %>
            <li class="calendar-item <%= getTypeClass(fullDayType) %> <% if (details === undefined)  { %>no-day hide-0-to-1024 <%}%> ">
                <%# Disable focussing on today only if banner shown AND on mobile device  %>
                <% if (today) { %>
                  <span id="today"<% if (showBanner.notifications || showBanner.mfa) { %> class="hide-mobile"<% } %> ></span>
                <% } %>
                <% if (fullDayType !== 'no-day')  { %>
                  <a href="/details/<%=date%>" tabindex="-1">
                      <div class="hide-1024-up" tabindex="0">
                        <span class="day govuk-!-font-weight-bold">
                          <%= dateDayText %>
                        </span>
                      </div>
                      <div class="hide-0-to-1024" tabindex="0">
                        <span class="day govuk-!-font-weight-bold">
                          <%= dateText %>
                        </span>
                      </div>
                      <div tabindex="0">
                        <% if (fullDayType !== 'NONE' && fullDayType !== 'SHIFT') { %>
                          <span class="line"><%= fullDayTypeDescription %></span>
                        <% } %>
                        <% details !== null && details.forEach(({ displayType, activity, finishDuration }) => { %>
                          <span class="line <%= displayType %>"><%= activity %></span>
                          <% if (finishDuration) { %>
                              <span class="line"><%= finishDuration %></span>
                          <% } %>
                        <% }) %>
                      </div>
                  </a>
                <% } %>
              </li>
            <% }); %>
          </ul>
        <% }  %>
        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" />
        <div class="govuk-clearfix"> </div>
      </main>
    </div>
    <%- include ('../partials/footer') -%>
    <script type="text/javascript">
      const links = document.getElementsByClassName("notification_dismiss_link")
      if (links.length) links[0].addEventListener("click", function(event) {
        const $notifications = document.getElementsByClassName("govuk-notification-banner");
        const id = event.target.id;
        const csrf = document.getElementById("_csrf").getAttribute('value');

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/calendar/dismiss");
        xhr.setRequestHeader("X-CSRF-Token", csrf);
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function() {
          if (this.status === 200) {
            if (this.readyState === XMLHttpRequest.DONE && $notifications.length) {
              $notifications[0].style.display="none";
            }
          } else {
            window.location = "/";
          }
        }
        xhr.send(`{ "id": "${id}" }`);
      });
    </script>
  </body>
</html>
