<% include ../helpers/helpers %>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="govuk-template__body">
    <% include ../partials/header %>
    <div class="govuk-width-container">
      <% include ../partials/beta-banner %>
      <main id="main-content" role="main">
        <div class="tabs-wrapper">
          <ul class="tabs">
            <li>
              <a class="active" href="<%= backLink %>">Calendar</a>
            </li>
            <li>
              <a href="/notifications">Notifications</a>
            </li>
          </ul>
        </div>

        <div class="calendar-controls center-align">
          <h1 class="govuk-heading-m govuk-!-margin-bottom-0"><%= today %></h1>
          <a id="btnPreviousShiftDetail" href="/details/<%= yesterday.link %>"
            class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19"><%= yesterday.text %></a>
          <a id="btnNextShiftDetail" href="/details/<%= tomorrow.link %>"
          class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 app-link-!-border "><%= tomorrow.text %></a>
        </div>
        <a href="<%= backLink %>" class="govuk-back-link">Back</a>
        <div class="grid-row">
          <div class="column-full">
            <% if (details != null && details.length > 0) { %>
              <ul class="app-shift-detail">
                <% if (fullDayType !== 'Shift') { %>
                  <li class="<%= getTypeClass(fullDayType) %>">
                    <div class="time"><%= fullDayType %></div>
                  </li>
                <% } %>
                <%
                  let started = false;
                  details.forEach((detail, index) => {
                %>
                  <li class="<% if(detail.displayType !== 'day_start' || !started){ %><%= detail.displayType %><% } %>">
                    <div class="time"><%= detail.start || '' %><% if(detail.end) { %> - <%= detail.end %><% } %></div>
                    <div class="description">
                      <% if(!started && detail.displayType === 'day_start') { %> Start of shift: <% } %>
                      <% if (started && detail.displayType === 'day_finish') { %>End of shift<% } %>
                      <%= detail.label %>
                    </div>
                  </li>
                <%
                    started = started ? detail.displayType !== 'day_finish' : detail.displayType === 'day_start'
                  })
                %>
              </ul>
            <% } %>
            <div class="govuk-clearfix"></div>
          </div>

          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        </div>
      </main>
    </div>
    <% include ../partials/footer %>
  </body>
</html>
