<% include ../helpers/helpers %>

<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>

</head>
<body>

  <% include ../partials/header %>

  <main id="content" class="app-container" role="main">

    <% include ../partials/tabs %>

    <div class="calendar-controls c-align">
      <span class="calendar-title bold-medium">
        June 2018
      </span>
      <a class="btn-change-month" href="/calendar/<%=getPreviousMonth(data.start)%>">Previous month</a>
      <a class="btn-change-month btn-change-month-with-border" href="/calendar/<%=getNextMonth(data.start)%>">Next month</a>
    </div>

    <ul class="calendar">

      <% getDays().forEach(function(day){ %>

        <li class="calendar-item calendar-header"><%= day.substr(0, 3) %></li>

      <% }); %>

      <% data.calendar.forEach(function(day){ %>

        <li class="calendar-item <% if (day.type === 'rest-day') { %>rest-day<% } %><% if (day.type === 'holiday') { %>holiday<% } %><% if (day.type === 'no-day') { %>no-day<% } %>">

          <% if (day.type === 'work') { %>
            <a href="/details/<%= day.date %>">
              <span class="day bold-xsmall"><%= day.day.substr(0, 3) %>, <%= parseShortDate(day.date) %></span>

              <% day.events.forEach(function(item){ %>

                <% if (day.type === 'work') { %>

                  <% if (item.type === 'holiday') { %>
                    <span class="detail font-xsmall detail-holiday">Holiday (part)</span>
                  <% } %>

                  <% if (item.type === 'work') { %>
                    <span class="detail font-xsmall detail-start">Start <%= item.startTime %></span>
                    <span class="detail font-xsmall detail-finish">Finish <%= item.endTime %></span>
                    <span class="font-xsmall detail-duration"><%= parseDuration(item.duration) %></span>
                  <% } %>

                <% } %>

              <% }); %>

            </a>
          <% } %>

          <% if (day.type === 'rest-day') { %>
            <span class="day bold-xsmall"><%= day.day.substr(0, 3) %>, <%= parseShortDate(day.date) %></span>
            <span class="event">Rest day</span>
          <% } %>

          <% if (day.type === 'holiday') { %>
            <span class="day bold-xsmall"><%= day.day.substr(0, 3) %>, <%= parseShortDate(day.date) %></span>
            <span class="event event-holiday">Holiday</span>
          <% } %>

         </li>

      <% }); %>
    </ul>

  </main>

  <% include ../partials/footer %>
</body>
</html>


