<% include ../helpers/helpers %>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <% include ../partials/head %>
</head>
<body class="govuk-template__body">

<% include ../partials/header %>

<div class="govuk-width-container">

  <% include ../partials/alpha-banner %>

  <a href="/calendar/<%=getCurrentMonth(date)%>" class="govuk-back-link">Back</a>

  <main id="main-content" class="govuk-main-wrapper govuk-!-margin-bottom-8" role="main">

    <div class="grid-row">
      <div class="column-full">
        
        <% if (data != null && data.tasks.length > 0) { %>

          <h1 class="govuk-heading-l"><%= getDayOfWeek(data.tasks[0].date) %> <%= parseFullDateFormat(data.tasks[0].date) %></h1>                          

          <ul class="app-shift-detail">

            <% data.tasks.forEach(function(task, index){ %>

              <% if (task.taskType !== 'Holiday' && task.taskType !== 'Absence' && task.taskType !== 'Illness' && task.taskType !== 'Detached Duty' && task.taskType !== 'TU Officials Leave Days' && task.taskType !== 'TU Officials Leave Hours') { %>

                <% if (checkIfDateTimeIsNull(task.dailyStartDateTime) && checkIfDateTimeIsNull(task.dailyEndDateTime)) { %>
                
                  <li class="<% if (index === 0) { %>detail-start<% } %>">
                    <span class="time"><%= getTimeFromDate(task.startDateTime) %> - <%= getTimeFromDate(task.endDateTime) %></span>
                    <span class="description">
                      <% if (index === 0) { %>Start of shift:
                      <% } %>
                      <%= task.label %></span>
                  </li>

                  <% if (index === data.tasks.length - 1) { %>
                    <li class="detail-finish">
                      <span class="time"><%= getTimeFromDate(task.endDateTime) %></span>
                      <span class="description">End of shift</span>
                    </li>
                  <% } %>

                <% } else if (checkIfDateTimeIsNull(task.dailyEndDateTime) && !checkIfDateTimeIsNull(task.dailyStartDateTime)) { %>
                  <li class="<% if (index === 0) { %>detail-start<% } %>">
                    <span class="time"><%= getTimeFromDate(task.dailyStartDateTime) %> </span>
                    <span class="description">
                      <% if (index === 0) { %>Start of shift:
                      <% } %>
                      <%= task.label %></span>
                  </li>
                <% } else if (!checkIfDateTimeIsNull(task.dailyEndDateTime) && checkIfDateTimeIsNull(task.dailyStartDateTime)) { %>
                  <% if (index === data.tasks.length - 1) { %>
                    <li class="detail-finish">
                      <span class="time"><%= getTimeFromDate(task.dailyEndDateTime) %></span>
                      <span class="description">End of shift</span>
                    </li>
                  <% } %>

                <% } else { %>
                  <% if (checkIfStartDateTimeBeforeEndDateTime(task.dailyStartDateTime, task.dailyEndDateTime)) { %>
                                      
                    <li class="detail-finish">
                      <span class="time"><%= getTimeFromDate(task.dailyEndDateTime) %></span>
                      <span class="description">End of shift</span>
                    </li>                 

                    <li class="detail-start">
                      <span class="time"><%= getTimeFromDate(task.dailyStartDateTime) %></span>
                      <span class="description">Start of shift: <%= task.label %></span>
                    </li>

                  <% } else { %>
                    <li class="detail-start">
                      <span class="time"><%= getTimeFromDate(task.dailyStartDateTime) %></span>
                      <span class="description">Start of shift: <%= task.label %></span>
                    </li>

                    <li class="detail-finish">
                      <span class="time"><%= getTimeFromDate(task.dailyEndDateTime) %></span>
                      <span class="description">End of shift</span>
                    </li>                 
                  
                  <% } %>
                <% } %>

              <% } %>

              <% if (task.taskType === 'Holiday' || task.taskType === 'Absence' || task.taskType === 'Illness' || task.taskType === 'Detached Duty' || task.taskType === 'TU Officials Leave Days' || task.taskType === 'TU Officials Leave Hours') { %>
                    
                  <li
                    class="<% if (task.taskType === 'Holiday') { %>detail-holiday<% } else if (task.taskType === 'Absence' && task.label === 'Rest Day') { %>detail-rest-day<% } else if (task.taskType === 'Illness') { %>detail-illness<% } else if (task.taskType === 'Absence' && task.label === 'Detached Duty') { %>detail-detached-duty<% } else if ((task.taskType === 'Absence' && task.label === 'TU Officials Leave Days') || (task.taskType === 'Absence' && task.label === 'TU Officials Leave Hours')) { %>detail-tu-official<% } else { %>detail-absence<% } %>">
                    <span class="time">
                      <% if (task.taskType === 'Holiday') { %>Holiday
                      <% } else if (task.taskType === 'Absence') { %><%= task.label %>
                      <% } else if (task.taskType === 'Illness') { %>Sick
                        
                      <% } else if (task.label === 'Detached Duty') { %>Detached Duty   
                         
                      <% } else if (task.label === 'TU Officials Leave Days' || task.taskType === 'TU Officials Leave Hours') { %>
                        <%= task.label %>
                      <% } %>
                    </span>
                    <span class="description">All day</span>
                  </li>
                    
              <% } %>

            <% } );%> 

          </ul>          
          
          <div class="govuk-clearfix"></div>
          
            <a id="btnPreviousShiftDetail" href="/details/<%= getDatePartFormatted(getPreviousDate(data.tasks[0].date)) %>"
              class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">&larr; <%= getPreviousDay(getDayOfWeek(data.tasks[0].date)) %> <%= parseFullDateFormat(getPreviousDate(data.tasks[0].date)) %></a>

            <a id="btnNextShiftDetail" href="/details/<%= getDatePartFormatted(getNextDate(data.tasks[0].date)) %>"
              class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 app-link-!-border "><%= getNextDay(getDayOfWeek(data.tasks[0].date)) %> <%= parseFullDateFormat(getNextDate(data.tasks[0].date)) %> &rarr;</a>
        
          </div>
        <% } else { %>
          <span class="govuk-heading-m moj-!-text-align-center">No data available</span>
        <% } %>
    </div>
  </main>

</div>

<% include ../partials/footer %>

</body>
</html>
