<%- include ('../helpers/helpers') -%>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <%- include ('../partials/head', { title: 'Your notifications' } ) -%>
  </head>
  <body class="govuk-template__body">

  <%- include ('../partials/header') -%>

  <div class="govuk-width-container">

    <main id="main-content" role="main">
      <a href="/" class="govuk-back-link">Back to your shift detail</a>
      <h1 class="govuk-heading-l">Your notifications</h1>
      <p class="govuk-body">
        <a href="/notifications/manage" class="govuk-!-padding-left-1">Manage your notifications</a>
      </p>

      <div id="notifications" class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-notifications">
            <ul>
              <% if (data != null && data.length > 0) { %>
                <% data.forEach(function(notification){ %>
                  <li>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"> <%= getRelativeModifiedDate(moment, notification.shiftModified) %></span>
                    <p class="govuk-body govuk-!-font-size-16"><%= notification.description %></p>
                  </li>
                <% }) %>
              <% } %>
            </ul>
          </div>
          <% if (data.length === 0) { %>
            <%- include('../partials/summary', {message: 'There are no notifications to show for this account.'}); %>
          <% } %>

        </div>
      </div>

    </main>

  </div>

  <%- include ('../partials/footer') -%>

  </body>
</html>
