<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <% include ../partials/head %>
</head>
<body class="govuk-template__body">

<% include ../partials/header %>

<div class="govuk-width-container">

  <% include ../partials/alpha-banner %>

  <a href="/notifications/1" class="govuk-back-link">Back</a>

  <main id="main-content" class="govuk-main-wrapper govuk-!-margin-bottom-8" role="main">

    <h1 class="govuk-heading-l">Notification settings</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
                
        <form action="/notifications/settings" method="POST">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                <h1 class="govuk-fieldset__heading">
                  Stay on top of your notifications by sending them to your phone or email address of choice, or both
                </h1>
              </legend>
              <div class="govuk-checkboxes" data-module="checkboxes">
                <% if (errors !== undefined && errors !== null) { %>
                  <% if (errors.find(x => x.param === 'inputEmail') !== undefined ) { %>
                    <div class="govuk-checkboxes__item">                  
                      <input class="govuk-checkboxes__input" id="optionEmail" name="optionEmail" type="checkbox" checked="true" value="email" data-aria-controls="conditional-email">
                      <label class="govuk-label govuk-checkboxes__label" for="optionEmail">Email</label>                    
                    </div>
                    <div class="govuk-checkboxes__conditional" id="conditional-email">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="inputEmail">Email address</label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="inputEmail" name="inputEmail" type="email" value="<%= errors.find(x => x.param === 'inputEmail').value %>">
                        <label class="govuk-label govuk-notifications-settings-error" for="inputEmail"><%= errors.find(x => x.param === 'inputEmail').msg %></label>
                      </div>
                    </div>
                  <% } else { %>
                    <% if (notificationSettings !== null && notificationSettings.optionEmail !== 'email') { %>                  
                      <div class="govuk-checkboxes__item">                  
                          <input class="govuk-checkboxes__input" id="optionEmail" name="optionEmail" type="checkbox" value="email" data-aria-controls="conditional-email">
                          <label class="govuk-label govuk-checkboxes__label" for="optionEmail">Email</label>                    
                      </div>
                      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-email">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="inputEmail">Email address</label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="inputEmail" name="inputEmail" type="email" value="<%= notificationSettings !== null ? notificationSettings.email : '' %>">
                        </div>
                      </div>
                    <% } else { %>
                      <div class="govuk-checkboxes__item">                  
                        <input class="govuk-checkboxes__input" id="optionEmail" name="optionEmail" type="checkbox" checked="true" value="email" data-aria-controls="conditional-email">
                        <label class="govuk-label govuk-checkboxes__label" for="optionEmail">Email</label>                    
                      </div>
                      <div class="govuk-checkboxes__conditional" id="conditional-email">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="inputEmail">Email address</label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="inputEmail" name="inputEmail" type="email" value="<%= notificationSettings.email %>">
                        </div>
                      </div>
                    <% } %>
                  <% } %>

                <% } else { %>

                  <% if (userNotificationSettings === null || !userNotificationSettings.UseEmailAddress) { %>                  
                    <div class="govuk-checkboxes__item">                  
                        <input class="govuk-checkboxes__input" id="optionEmail" name="optionEmail" type="checkbox" value="email" data-aria-controls="conditional-email">
                        <label class="govuk-label govuk-checkboxes__label" for="optionEmail">Email</label>                    
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-email">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="inputEmail">Email address</label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="inputEmail" name="inputEmail" type="email" value="<%= userNotificationSettings !== null ?  userNotificationSettings.EmailAddress : '' %>">
                      </div>
                    </div>
                  <% } else { %>
                    <div class="govuk-checkboxes__item">                  
                      <input class="govuk-checkboxes__input" id="optionEmail" name="optionEmail" type="checkbox" checked="true" value="email" data-aria-controls="conditional-email">
                      <label class="govuk-label govuk-checkboxes__label" for="optionEmail">Email</label>                    
                    </div>
                    <div class="govuk-checkboxes__conditional" id="conditional-email">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="inputEmail">Email address</label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="inputEmail" name="inputEmail" type="email" value="<%= userNotificationSettings.EmailAddress %>">
                      </div>
                    </div>
                  <% } %>
                <% } %>

                <% if (errors !== undefined && errors !== null) { %>
                  <% if (errors.find(x => x.param === 'inputMobile') !== undefined) { %>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="optionMobile" name="optionMobile" type="checkbox" checked="true" value="text message" data-aria-controls="conditional-text-message">
                      <label class="govuk-label govuk-checkboxes__label" for="optionMobile">Text message</label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-text-message">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="inputMobile">Mobile phone number</label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="inputMobile" name="inputMobile" type="tel" value="<%= errors.find(x => x.param === 'inputMobile').value %>">
                        <label class="govuk-label govuk-notifications-settings-error" for="inputEmail"><%= errors.find(x => x.param === 'inputMobile').msg %></label>
                      </div>
                    </div>
                  <% } else { %>
                    <% if (notificationSettings === null || notificationSettings.optionMobile !== 'text message') { %>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="optionMobile" name="optionMobile" type="checkbox" value="text message" data-aria-controls="conditional-text-message">
                        <label class="govuk-label govuk-checkboxes__label" for="optionMobile">Text message</label>
                      </div>
                      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-text-message">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="inputMobile">Mobile phone number</label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="inputMobile" name="inputMobile" type="tel" value="<%= notificationSettings !== null ? notificationSettings.mobile : ''%>">
                        </div>
                      </div>
                    <% } else { %>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="optionMobile" name="optionMobile" type="checkbox" checked="true" value="text message" data-aria-controls="conditional-text-message">
                        <label class="govuk-label govuk-checkboxes__label" for="optionMobile">Text message</label>
                      </div>
                      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-text-message">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="inputMobile">Mobile phone number</label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="inputMobile" name="inputMobile" type="tel" value="<%= notificationSettings.mobile %>">
                        </div>
                      </div>
                    <% } %> 
                  <% } %>

                  
                <% } else { %>

                  <% if (userNotificationSettings === null || !userNotificationSettings.UseSms) { %>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="optionMobile" name="optionMobile" type="checkbox" value="text message" data-aria-controls="conditional-text-message">
                      <label class="govuk-label govuk-checkboxes__label" for="optionMobile">Text message</label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-text-message">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="inputMobile">Mobile phone number</label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="inputMobile" name="inputMobile" type="tel" value="<%= userNotificationSettings !== null ? userNotificationSettings.Sms : ''%>">
                      </div>
                    </div>
                  <% } else { %>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="optionMobile" name="optionMobile" type="checkbox" checked="true" value="text message" data-aria-controls="conditional-text-message">
                      <label class="govuk-label govuk-checkboxes__label" for="optionMobile">Text message</label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-text-message">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="inputMobile">Mobile phone number</label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="inputMobile" name="inputMobile" type="tel" value="<%= userNotificationSettings.Sms %>">
                      </div>
                    </div>
                  <% } %> 
                <% } %>
                
              </div>
            </fieldset>
          </div>

          <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>

          <button type="submit" class="govuk-button">Update</button>

        </form>
      </div>
    </div>
  </main>

</div>

<% include ../partials/footer %>
</body>
</html>
