<%- include ('../helpers/helpers') -%>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <%- include ('../partials/head') -%>
  </head>
  <body class="govuk-template__body">

  <%- include ('../partials/header') -%>

  <div class="govuk-width-container">

    <%- include ('../partials/beta-banner') -%>

    <main id="main-content" role="main">
      <div class="tabs-wrapper">
        <ul class="tabs">
          <li ><a href="/calendar">Calendar</a></li>
          <li><a class="active" href="">Notifications</a>
          </li>
        </ul>
      </div>
      <div id="notifications" class="govuk-grid-row">
        <% if (notificationsEnabled && snoozeUntil) { %>
          <%- include ('../partials/snooze-banner') -%>
        <% } %>
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-notifications">
            <ul>
              <% if (data != null && data.length > 0) { %>
                <% data.forEach(function(notification){ %>
                  <li>
                    <span class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"> <%= getRelativeModifiedDate(moment, notification.shiftModified) %>

                    </p>
                    <p class="govuk-body govuk-!-font-size-16"><%= notification.description %></p>
                  </li>
                <% }) %>
              <% } %>
            </ul>
          </div>
          <% if (data.length === 0) { %>
            <%- include('../partials/summary', {message: 'There are no notifications to show for this account.'}); %>
          <% } %>

        </div>
        <div class="govuk-grid-column-one-third">

            <section class="govuk-!-padding-2 govuk-!-padding-bottom-6">

              <p class="govuk-body">Get notifications to your email or phone</p>
              <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="/notifications/settings">Notification settings</a>

            </section>
            <% if (notificationsEnabled ) { %>
              <%- include ('../partials/pause-notifcations') -%>
            <% } %>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>

        </div>

      </div>

    </main>

  </div>

  <%- include ('../partials/footer') -%>

  </body>
</html>
