<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <%- include ('../partials/head') -%>
  </head>
  <body class="govuk-template__body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <%- include ('../partials/header') -%>

    <div class="govuk-width-container">

      <%- include ('../partials/beta-banner') -%>

      <a href="/notifications" class="govuk-back-link">Back</a>

      <main id="main-content" class="govuk-main-wrapper govuk-!-margin-bottom-8" role="main">
        <form action="/notifications/settings" method="POST">
          <div class="govuk-form-group<% if(errors){ %> govuk-form-group--error<% } %>">
            <fieldset class="govuk-fieldset" aria-describedby="contactMethod-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Notification settings
                </h1>
              </legend>
              <p class="govuk-body">
                Stay on top of your notifications by sending them to your phone or email address of choice
              </p>
              <span id="contactMethod-conditional-hint" class="govuk-hint">
                Select one option.
              </span>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contactMethod-conditional" name="contactMethod" type="radio" value="EMAIL" data-aria-controls="conditional-contactMethod-conditional" <% if(contactMethod === 'EMAIL') { %>checked<% } %>>
                  <label class="govuk-label govuk-radios__label" for="contactMethod-conditional">
                    Email
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contactMethod-conditional">
                  <div class="govuk-form-group">
                    <% if(errors && errors.inputEmail){ %>
                      <span id="inputMobile-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> <%= errors.inputEmail.msg %>
                      </span>
                    <% } %>
                    <label class="govuk-label" for="contact-by-email">
                      Email address
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="inputEmail" name="inputEmail" type="email" spellcheck="false" value="<%= inputEmail %>">
                  </div>
          
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contactMethod-conditional-3" name="contactMethod" type="radio" value="SMS" data-aria-controls="conditional-contactMethod-conditional-2" <% if(contactMethod === 'SMS') { %>checked<% } %>>
                  <label class="govuk-label govuk-radios__label" for="contactMethod-conditional-3">
                    Text message
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contactMethod-conditional-2">
                  <div class="govuk-form-group">
                    <% if(errors && errors.inputMobile){ %>
                      <span id="inputMobile-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> <%= errors.inputMobile.msg %>
                      </span>
                    <% } %>
                    <label class="govuk-label" for="contact-by-text">
                      Mobile phone number
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="inputMobile" name="inputMobile" type="tel" value="<%= inputMobile %>">
                  </div>
          
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contactMethod-conditional-2" name="contactMethod" type="radio" value="NONE" <% if(contactMethod === 'NONE') { %>checked<% } %>>
                  <label class="govuk-label govuk-radios__label" for="contactMethod-conditional-2">
                    None
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
          <button type="submit" class="govuk-button">Update</button>
        </form>
      </main>

    </div>

    <script src="/assets/govuk/all.js"></script>
    <script>window.GOVUKFrontend.initAll();</script>
    <%- include ('../partials/footer') -%>
  </body>
</html>
