<%- include ('../helpers/helpers') -%>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <%- include ('../partials/head', { title: 'How long do you want to pause notifications for?' }) -%>
  </head>
  <body class="govuk-template__body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <%- include ('../partials/header') -%>

    <div class="govuk-width-container">
      <a href="/notifications/manage" class="govuk-back-link">Back</a>
      <main id="main-content" role="main">
        <h1 class="govuk-heading-l">How long do you want to pause notifications for?</h1>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <section class="govuk-!-padding-2">
              <% if (isErrors(errors)){ %>
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                  <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                  </h2>
                  <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                      <% errors.array({ onlyFirstError: true }).forEach((error) => { %>
                        <li><a href="#<%= error.param %>"><%= error.msg %></a></li>
                      <% }) %>
                    </ul>
                  </div>
                </div>
              <% } %>
              <form method="post">
                <div class="govuk-form-group<% if (isError(errors, 'pauseValue')) { %> govuk-form-group--error<% } %>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                  <label for="pauseValue" class="govuk-label">Enter a number</label>
                  <input class="govuk-input govuk-input--width-2 govuk-!-margin-right-2" id="pauseValue" name="pauseValue" maxlength="2" value="<%= pauseValue %>" />
                </div>

                <div class="govuk-form-group<% if (isError(errors, 'pauseUnit')) { %> govuk-form-group--error<% } %>">
                  <label for="pauseUnit" class="govuk-label">Select a period of time</label>
                  <select class="govuk-select" id="pauseUnit" name="pauseUnit" required>
                    <option value="Select" <% if (!pauseUnit) { %>selected<% } %>>Select</option>
                    <option value="days" <% if (pauseUnit === 'days') { %>selected<% } %>>Days</option>
                    <option value="weeks" <% if (pauseUnit === 'weeks') { %>selected<% } %>>Weeks</option>
                    <option value="months" <% if (pauseUnit === 'months') { %>selected<% } %>>Months</option>
                  </select>
                </div>

                <button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button" type="submit">
                  Confirm
                </button>
                <a class="govuk-button govuk-button--secondary" href="/notifications/manage" data-module="govuk-button" id='snoozeClear' type="reset">
                  Cancel
                </a>
              </form>
            </section>

          </div>
        </div>
      </main>
    </div>

    <script src="/assets/govuk/all.js"></script>
    <script>window.GOVUKFrontend.initAll();</script>
    <%- include ('../partials/footer') -%>
  </body>
</html>
